# openwebui
PORT=8080
ENABLE_OPENAI_API=false
OPENAI_API_BASE_URL=https://api.openai.com/v1
OPENAI_API_KEY=
RAG_WEB_SEARCH_ENGINE=brave
BRAVE_SEARCH_API_KEY=example
RAG_EMBEDDING_ENGINE=ollama
RAG_EMBEDDING_MODEL=nomic-embed-text:latest
COMFYUI_BASE_URL=
COMFYUI_API_KEY=
CUSTOM_NAME=lab
openhostname=openwebui

# n8n
N8N_PORT=5678
DB_TYPE=postgresdb
N8N_QUEUE_HOST=redis-ai
N8N_QUEUE_NAME=n8n
QUEUE_HEALTH_CHECK_ACTIVE=true
nhostname=n8n
WEBHOOK_URL=https://n8n.example.com/
N8N_PAYLOAD_SIZE_MAX=32
N8N_FORMDATA_FILE_SIZE_MAX=400
N8N_SMTP_HOST=smtp.example.com
N8N_SMTP_PORT=587
N8N_SMTP_USER=user@example.com
N8N_SMTP_PASS=123456789
TIMEZONE="America/Caracas"

# postgres
POSTGRES_USER=user
POSTGRES_PASSWORD=KrFgLvKJRvinkEG5
POSTGRES_DB=lab
POSTGRESDB_PORT=5432
DATABASE_HOST=postgres-ai
phostname=postgres-ai

# redis
REDIS_PORT=6379
REDIS_URL=redis://redis-ai:6379
UREDIS=redis://redis-ai:6379/1
rhostname=redis-ai

# global
restart=always
pull_policy=always
